body {
  min-height: 100vh;
  min-width: 100vw;
}

#root {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

%input {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #c2c2c2;
  border-radius: 3px;
  font-size: 16px;
  transition: 0.2s;
}

select {
  @extend %input;
}

input {
  @extend %input;

  &[type=datetime-local] {
    cursor: text;
  }

  &[type=checkbox] {
    width: initial;
  }

  &[type=submit] {
    cursor: pointer;
    border-top: none;
    border-right: none;
    border-left: none;
  }

  &[readonly] {
    background: #f9f9f9;
    border: #f9f9f9;

    &:active,
    &:focus {
      outline: none;

    }

    &:hover {
      cursor: default;

    }
  }

  &[type=number] {
    -moz-appearance: textfield;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.button {
  display: flex;
  $button-color: #efefef;
  border: none;
  transition: 0.2s;
  cursor: pointer;
  white-space: nowrap;
  font-size: 16px;
  padding: 8px 10px;
  border-radius: 3px;
  outline: none;
  width: auto;
  background: $button-color;
  color: black;
  text-decoration: none;

  &:hover {
    background: darken($button-color, 5%);
  }

  &[disabled] {
    cursor: initial;
    background: #636363;
    border-bottom: 3px #484848 solid;
    opacity: 1;
  }
}

.button-text {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.button-positive {
  $button-color: #00a500;
  background: $button-color;
  color: white;

  &:hover {
    background: darken($button-color, 5%);
  }
}

.button-negative {
  $button-color: #be0303;
  background: $button-color;
  color: white;

  &:hover {
    background: darken($button-color, 5%);
  }
}

.app-wrapper {
  margin-top: 78px;
  flex: 1 1 100%;
  padding: 0 10px;
  overflow-y: auto;
  min-height: 100vh;
  @media screen and (min-width: 768px) {
    margin-top: 0;
    padding: 20px 10px 5px;
    max-height: 100vh;
  }
}

label {
  cursor: pointer;
}

