.login-wrapper {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/login-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  flex-direction: column;
}

.login-form-logo {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
}

.login-form {
  position: relative;
  background: white;
  width: 300px;
  padding: 40px 50px;
  border-radius: 12px;
}

.login-logo-wrapper {
  position: absolute;
  left: -20px;
  top: -20px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  padding: 15px;
}

.login-logo {
  height: 100%;
}

.login-title {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 10px;
}

.login-input-wrapper {
  display: flex;
  border-bottom: 2px solid black;
  align-items: center;
  padding: 5px 3px;
  cursor: pointer;
}

.login-input {
  border: none;
  outline: none;
  padding: 0 0 0 7px;

  &::placeholder {
    font-size: 0.8em;
    font-weight: bold;
  }
}

.login-input-label {
  width: 100%;
  font-size: 0.9em;
  font-weight: bold;
}

.login-row {
  padding: 16px 0;

  & + .login-row {
    padding-bottom: 32px;
  }
}

.login-submit {
  text-align: center;
  background: #15A5BD;
  cursor: pointer;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 26px;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  outline: none;
  transition: all 0.2s;
  &:hover {
    transition: all 0.2s;
    background: #2d8bb8;
  }
}

.login-forgot-password {
  font-weight: bold;
  font-size: 12px;
  text-align: right;
  margin-top: 5px;
  color: black;
  width: 100%;
  display: block;
  text-decoration: none;
  cursor: pointer;
}
