.nav-bar {
  padding: 10px 20px;
  display: flex;
  height: 68px;
  color: white;
  background-size: cover;
  background: #000000 url('../images/login-background.jpg');
  flex-direction: row;
  align-items: center;
  position: fixed;
  justify-content: space-between;
  font-size: 1.4em;
  z-index: 2;
  width: 100%;
  @media print {
    display: none;
  }

  @media screen and (min-width: 768px) {
    padding: 10px;
    flex-direction: column;
    height: auto;
    position: initial;
    width: initial;
  }
}

.nav-bar-collapsed {
  .logo-text {
    display: none;
  }
  .nav-link {
    justify-content: center;
  }
  .nav-link-text {
    display: none;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  right: -800px;
  transition: right 0.3s;
  position: fixed;
  width: 70vw;
  top: 68px;
  bottom: 0;
  background: #000000 url('../images/login-background.jpg');
}

.nav-link {
  cursor: pointer;
  color: white;
  text-decoration: none;
  transition: 0.3s;
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.nav-link-text {
  margin-left: 8px;
}

.bottom-nav {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  font-size: 24px;
  transition: 0.3s;
  align-items: center;
  position: relative;
}

.nav-link:hover,
.logo:hover {
  color: #93d9ff;
}

.logo-text {
  white-space: nowrap;
}

.nav-mobile-handle {
  font-size: 1.5em;
  cursor: pointer;
  margin-left: auto;
  margin-right: 6px;
}

.nav-mobile {
  display: none;
}

.nav-mobile:checked + .nav {
  right: 0;
}

@media screen and (min-width: 768px) {
  .nav {
    position: initial;
    display: flex;
    width: auto;
    padding-top: 30px;
    height: 100%;
    background: none;
  }
  .nav-mobile,
  .nav-mobile-handle {
    display: none;
  }
}

.fossalogo {
  height: 48px;
}
