.notification-pill {
  padding: 8px 16px;
  border-radius: 8px;
  margin: 8px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 16px;
}

.notification-pill-error {
  background: #bb0e0e;
  color: white;
}

.notification-pill-success {
  background: #00a500;
  color: white;
}

.notification-pill-warning {
  background: #dc8426;
  color: white;
}

.notifications-block {
  z-index: 1000;
  position: absolute;
  right: 0;

}