.orders-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.order-item {
  margin: 10px 0;
  border: 1px solid #c2c2c2;
  background: white;
  display: flex;
  border-radius: 3px;
  flex-direction: column;
}

.order-item-express-flag {
  border: coral 1px solid;
}

.order-description {
  display: flex;
  flex-direction: column;
  padding: 10px;
  //@media screen and (min-width: 768px) {
  //  flex-direction: row;
  //}
}

.order-column {
  line-height: 24px;
  display: flex;
  flex: 1 0 100%;
  flex-direction: column;
  justify-content: flex-end;

  @media screen and (min-width: 768px) {
    flex-basis: 50%;
    & + .order-column {
      padding-left: 20px;
    }
  }
}

.order-buttons {
  margin-top: 10px;
  display: flex;
  align-self: flex-end;
  .button {
    margin-left: 10px;
  }
}

.order-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.order-title {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
}

.order-id {
  padding: 10px;
  background: #2d8bb8;
  color: white;
  border-bottom-right-radius: 3px;
}

.order-name {
  padding: 10px;
}
