.order-price {
  margin: 0 5px;
}

.order-price-sum {
  margin: 20px 0;
  display: flex;
  font-size: 24px;
  width: 100%;
  justify-content: flex-end;
}

.order-wrapper {
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow-y: auto;
}


.form-name {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    .buttons-row {
      order: 1;
    }
  }
}

.order-form {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-weight: normal;
  font-size: 1.2em;
}

.input-group-title {
  display: flex;
  margin-top: 25px;
  font-size: 1.2em;
}

.input-group {
  flex: 1 0;
  background: #F9F9F9;
  border: 1px #c7c7c7 solid;
  border-radius: 3px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.input-columns {
  display: flex;
  flex-direction: column;
}

.input-column {
  flex: 0 1 100%;
  display: flex;
  flex-direction: column;
}

.column {
  flex: 0 1 100%;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.input-row {
  display: flex;
  flex-direction: column;
}

.group-row {
  display: flex;
  flex-direction: column;
}

.input {
  flex: 0 1 100%;
  display: flex;
  flex-direction: column;
}

.checkbox {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  label {
    margin-left: 4px;
  }
}

label + input,
label + select {
  margin-bottom: 10px;
}

.buttons-row {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
  order: -1;
  .button {
    margin-left: 10px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

input[type=checkbox]:checked + label + .input {
  display: flex;
}

input[type=checkbox] + label + .input {
  display: none;
}

.order-swap-languages {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .input-row {
    flex-direction: row;
    .input + .input {
      padding-left: 20px;
    }
  }
  .column + .column {
    padding-left: 30px;
  }
  .input-columns {
    flex-direction: row;
  }
  .order-wrapper {
    margin-top: 0;
  }
}

