.orders-list {
  background: #F9F9F9;
  border: 1px #c7c7c7 solid;
  padding: 10px;
  border-radius: 0 3px 3px 3px;
}

.table-wrapper {
  overflow-x: auto;
  background: #F9F9F9;
  height: 100%;
}

.orders-tab-row {
  padding: 3px;
  border: 0;
  text-align: center;
  height: 30px;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  transition: 0.3s;
}

.orders-tab-row:nth-child(2n) {
  background: #EAEDF8;
}

.orders-tab-row:hover {
  background: #93d9ff;
}

.orders-top-row {
  flex-direction: column-reverse;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.orders-search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 6px 0;
}

.orders-search-input {
  margin-bottom: 0;
  margin-left: 5px;
}

.orders-menu {
  display: flex;
  flex: 1 1 100%;
  justify-content: space-between;
}

.order-entry {
  display: flex;
  justify-content: space-between;
}
.orders-menu li {
  white-space: nowrap;
  padding: 10px;
  background: #EAEDEA;
  color: black;
  border: 1px #c7c7c7 solid;
  border-bottom: none;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 3px 3px 0 0;
}

.orders-menu .li-active, .orders-menu li:hover {
  background: #F9F9F9;
  border-bottom: 0;
  position: relative;
  top: 1px;
}

.orders-tab {
  list-style: none;
  padding-right: 20px;
  color: white;
  text-decoration: none;
  &:last-child {
    margin-right: 0;
  }
}

