.print-table {
  margin: 0 auto;
  width: 877px;
  display: flex;
  align-content: center;
  flex-direction: column;
  padding: 0 20px;
  font-size: 18px;
}

.print-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.print-second {
  display: flex;
  padding-bottom: 0;
}

.print-express {
  text-align: right;
  margin-left: 10px;
}

.receipt {
  flex-direction: column;
  padding: 10px 30px;
  display: flex;
  line-height: 1.4em;
}

.cost {
  display: flex;
  justify-content: space-between;
}

.final-cost {
  padding-top: 10px;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
}

.final-cost-label {
  font-weight: bold;
  font-size: 24px;
  margin-right: 10px;
}

span {
  word-break: break-word;
}

.print-leftblock {
  flex: 3;
}

.print-rightblock {
  flex: 1;
  border-left: 2px black solid;
  padding-left: 10px;
}

.print-label {
  font-weight: bold;
  margin-right: 5px;
}

.print-row {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.signature-row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-direction: row;
}

.signature-column {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.signature-column .signature {
  margin-top: 0;
}

.signature {
  text-align: center;
  font-size: 12px;
  border-top: 1px black solid;
  margin-top: 25px;
  padding: 0 8px;
}

.person-signature {
  text-align: center;
  font-size: 12px;
  width: 130px;
  border-top: 1px black solid;
  margin-top: 25px;
  padding: 0 8px;
}

.order-meta {
  display: flex;
}

.signature-wrapper {
  display: flex;
  justify-content: center;
}
.signature-wrapper > div {
  margin-left: 4px;
  margin-right: 4px;
}
.signature-wrapper > div:last-child {
  margin-right: 0;
}

.margin0 {
  margin: 0;
}


